https://www.youtube.com/watch?v=FmSAHP1TdeU
#### This project is based on Swiggy orders (youtube playlist-> Vyas Adhitya)
#### My GitHub code :

In [1]:
import pandas as pd

In [6]:
orders=pd.read_csv('orders.csv')
items=pd.read_csv('items.csv')

In [8]:
#unique items - by name and by count
items['name'].unique()
items['name'].nunique()

164

In [10]:
#veg vs non veg
items['is_veg'].value_counts()

1    180
0     12
2      1
Name: is_veg, dtype: int64

In [64]:
#show chicken items in name of dish
items[items['name'].str.contains('Chick',na=False,case=False)]

,id,order_id,name,is_veg,if chicken dish
16,17,118594611361,Chicken Fried Rice + Bbq Shredded Chicken Sauce,0,0
17,18,118594611361,Burnt Garlic Chicken Rice + Chilly Shredded Ch...,0,13
18,19,118594611361,Butter Chicken,0,7
82,83,86796819721,Chicken Schezwan Fried Rice,0,0
84,85,86796243798,Chicken Parcel,0,0
85,86,86796243798,Chicken Sausage,0,0
105,106,63528835993,Peri Peri Chicken with Egg Corn Rice,0,10
148,149,43875533945,Chicken Fried Rice,0,0
149,150,43875533945,Dragon Chicken,0,7
170,171,20698577867,Crunchy Chicken,0,8

In [69]:
# items['if chicken dish']=items['name'].str.find('Chick')
items[items['if chicken dish']!=-1]

,id,order_id,name,is_veg,if chicken dish
16,17,118594611361,Chicken Fried Rice + Bbq Shredded Chicken Sauce,0,0
17,18,118594611361,Burnt Garlic Chicken Rice + Chilly Shredded Ch...,0,13
18,19,118594611361,Butter Chicken,0,7
82,83,86796819721,Chicken Schezwan Fried Rice,0,0
84,85,86796243798,Chicken Parcel,0,0
85,86,86796243798,Chicken Sausage,0,0
105,106,63528835993,Peri Peri Chicken with Egg Corn Rice,0,10
148,149,43875533945,Chicken Fried Rice,0,0
149,150,43875533945,Dragon Chicken,0,7
170,171,20698577867,Crunchy Chicken,0,8

,id,order_id,name,is_veg,if chicken dish
0,1,127143465064,Paratha Kuruma,1,-1
1,2,127143465064,Gobi Manchurian Dry,1,-1
2,3,127077028490,Amritsari Paneer Tikka Lasagne,1,-1
3,4,126888939416,Eggless Red Velvet Jar,1,-1
4,5,125668909627,SEV PURI,1,-1
...,...,...,...,...,...
188,189,1129725726,Triple Choco Chip Thick Shake,1,-1
189,190,1123341565,Cookie and Cream Milkshake,1,-1
190,191,1123287736,Veg Pulao + 3 Phulkas + Dal Fry + Mango Drink ...,1,-1
191,192,1096353194,Cheese Tandoori Veg Pizza Sandwich,1,-1
192,193,1096353194,Mixed Choco Sandwich,1,-1

In [30]:
#items ordered most times
items['name'].value_counts()

Classic Mac & Cheese                      4
Paneer Butter Masala with Mattar Pulao    3
Gobi Manchurian                           3
Paneer & corn Pasta                       3
Cheese corn Wrap                          3
                                         ..
Sambar Idli                               1
Brownie                                   1
Kadai Paneer                              1
Red Velvet Lava Cake                      1
Strawberry (Baby)                         1
Name: name, Length: 164, dtype: int64

In [33]:
# count of distinct orders from orders dataset
orders['order_id'].nunique()

95

In [35]:
#unique restaurant names
orders['restaurant_name'].unique()

array(['A2B Veg', 'Firangi Bake', 'The Table', 'Sree gupta bhavan',
       'Idlies', "Shyam's Bombay Halwa House", 'The Bowl Company',
       'Super Munch', "Mansukh's Sweets and Snacks", 'KFC',
       'The Chopstix- Kk Nagar', 'Sabarees Veg Restaurant', 'Lassi House',
       'Subway', 'Faasos', "McDonald's", 'LunchBox', 'Drunken Monkey',
       "Sangeetha's Desi Mane", 'The Sandwich Shop 2.0',
       'The Belgian Waffle Co.', 'The Thickshake Factory',
       "Amelie's Cafe & Creamery", 'Kamakshi Mess',
       'Bakya Veg Restaurant', 'Roll Over', "Domino's Pizza",
       'Moonlight Takeaway & Delivery', 'Richy Rich Ice Creams',
       'HOTEL ANANDHA BHAVAN (Imperial Road)', 'VEJ', 'Frozen Bottle',
       'Good For One', 'KEVENTERS', 'The Good Bowl', 'Cream and Fudge',
       'Food Track', 'The Belgian Waffle Co', 'Oh so Stoned', 'Pizza Hut',
       "Desi Rasoi's Punjabi Dhaba", 'Taco Bell', 'Tibbs Frankie',
       'Maggevala Curly Cravings', 'Ibaco', 'The Thick Shake Factory',
       'Food Centralis', 'Rice n Spice', 'The Sandwich Shop'],
      dtype=object)

In [39]:
# restaurants with most orders overall rank
orders['restaurant_name'].value_counts()

The Bowl Company                        12
Mansukh's Sweets and Snacks              6
Food Track                               5
Sangeetha's Desi Mane                    4
The Table                                4
A2B Veg                                  4
Domino's Pizza                           4
HOTEL ANANDHA BHAVAN (Imperial Road)     2
Frozen Bottle                            2
Sree gupta bhavan                        2
Moonlight Takeaway & Delivery            2
Taco Bell                                2
Faasos                                   2
LunchBox                                 2
The Belgian Waffle Co.                   2
Cream and Fudge                          2
McDonald's                               2
Roll Over                                2
Subway                                   2
Shyam's Bombay Halwa House               2
The Thickshake Factory                   2
Maggevala Curly Cravings                 1
The Chopstix- Kk Nagar                   1
Drunken Monkey                           1
Sabarees Veg Restaurant                  1
The Thick Shake Factory                  1
The Belgian Waffle Co                    1
Tibbs Frankie                            1
Pizza Hut                                1
Richy Rich Ice Creams                    1
The Sandwich Shop                        1
Good For One                             1
Rice n Spice                             1
KFC                                      1
Lassi House                              1
KEVENTERS                                1
The Sandwich Shop 2.0                    1
Food Centralis                           1
Oh so Stoned                             1
Bakya Veg Restaurant                     1
Amelie's Cafe & Creamery                 1
Kamakshi Mess                            1
Desi Rasoi's Punjabi Dhaba               1
Firangi Bake                             1
Super Munch                              1
Idlies                                   1
Ibaco                                    1
VEJ                                      1
The Good Bowl                            1
Name: restaurant_name, dtype: int64

In [40]:
# revenue change from 2020 to 2021
orders

,id,order_id,order_total,restaurant_name,order_time,rain_mode,on_time
0,1,127143465064,463.0,A2B Veg,2022-02-05 19:07:45,0,1
1,2,127077028490,252.0,Firangi Bake,2022-02-05 00:40:28,0,1
2,3,126888939416,190.0,The Table,2022-02-02 20:25:40,0,1
3,4,125668909627,258.0,Sree gupta bhavan,2022-01-19 17:31:50,0,0
4,5,125301846779,194.0,Idlies,2022-01-15 11:34:07,0,1
...,...,...,...,...,...,...,...
90,91,1161151700,313.0,Domino's Pizza,2018-04-06 19:05:59,0,0
91,92,1129725726,192.0,The Thick Shake Factory,2018-01-07 17:12:33,0,1
92,93,1123341565,125.0,Food Centralis,2017-12-10 20:51:31,0,1
93,94,1123287736,209.0,Rice n Spice,2017-12-10 19:24:06,0,0
94,95,1096353194,140.0,The Sandwich Shop,2017-07-02 19:09:02,0,0

In [43]:
ind = pd.Index(['Mouse', 'dog', 'house', 'parrot', '23.0'])
ind.str.contains('house|parrot', regex=True)

array([False, False,  True,  True, False])